<div style="display:flex;">
  <div>
    <button *ngFor="let player of gameServiceState.players"
      (click)="selectPlayer(player)"
      [class.disconnected]="player.disconnected"
      [class.active]="activePlayer?.id === player.id">
        {{player.name}}{{player.id === hostId ? '(host)' : ''}}{{player.id === myId ? '(you)' : ''}}<br />
        <p *ngIf="!player.isEliminated">{{player.tilesUsed}} / {{player.totalTiles}}</p>
        <p *ngIf="player.isEliminated">:(</p>
      </button>
    <p *ngIf="winner">{{winner.name}} wins!</p>
    <button
      *ngIf="isHost && gameServiceState.gameOver"
      (click)="returnToLobby()">Return to lobby</button>
  </div>

  <div
    *ngFor="let player of gameServiceState.players"
    [class]="'board-' + player.id"
    style="position: relative">
    <app-board
      *ngIf="player.id === activePlayer?.id"
      [playerModel]="player"
      [readonly]="player.id !== myId || gameServiceState.winnerId !== null || player.isEliminated || player.disconnected"
    ></app-board>
  </div>

</div>


<!-- <app-board [playerModel]="playerModel"></app-board> -->
