<body style="margin:auto; width: 100%">
  <div id="board" style="margin: auto; position: relative">
    <div class="dropzoneHelper">
      <div *ngFor="let square of boardState.squares"
        class="square"
        [class.draggable]="!readonly"
        [class.last-clicked]="square.lastClicked"
        [class.invalid]="square.invalid"
        [attr.data-id]="square.id"
        [style.transform]="'translate(' + square.x + 'px, ' + square.y + 'px'">{{square.letter}}</div>
      
      <div id="topArea">
        <div class="dropzone droppable"
          *ngFor="let zoneIndex of topDropzones"
          [attr.data-id]="zoneIndex"
        ></div>
        <!-- [class.droppable]="boardState.dropzones[zoneIndex].active" -->

      </div>

      <div id="startArea">
        <div>
          <div style="font-size:15px;">tiles remaining: {{gameServiceState.tilesRemaining}}</div>
          <button class="win"
            (click)="claimSuccess()"
            [disabled]="!gameServiceState.canClaimSuccess || readonly">{{gameServiceState.nextPeelWins ? 'win?' : 'peel'}}</button>
          <button class="dump"
            (click)="dump()"
            [disabled]="!gameServiceState.canDump || !lastSquare">dump</button>
          <!-- <div style="font-size:15px;">{{readonlyGameServiceState.tilesUsedByPlayers}} / {{readonlyGameServiceState.totalTilesInGame}} ({{readonlyGameServiceState.tilesRemaining}} remaining)</div> -->
        </div>
        <div class="dropzone droppable"
          *ngFor="let zoneIndex of bottomDropzones"
          [attr.data-id]="zoneIndex"
        ></div>

      </div>
    </div>
  </div>
</body>