$tileSize: 60px;


.square {
  display: inline-block;
  background: orange;
  margin-right: 5px;
  border: 2px solid black;
  font-size: 46px;
  background-color: rgb(239, 225, 202); /* todo: variable? */
  width: $tileSize;
  height: $tileSize;
  line-height: $tileSize;
  text-align: center; 
}

.heading-container {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  .square {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 2px;
    border: 1px solid black;
  }
}

:host ::ng-deep router-outlet + * {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}