/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: helvetica, sans-serif;
}

.banana {
  background-image: url('/bananagrams/assets/small-banana.png');
  width: 40px;
  height: 28px;
  background-size: contain;

  position: absolute;
  top: 350px;//200px;
  left: calc(50% - 5px);
}
